@import '~@synerty/peek-theme/scss/_variables.web';

.peek-desktop-row {
    display: flex;
    height: 100%;
}

.peek-desktop-sidebar {
    //width: $desktop_side_bar_width;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $desktop_side_bar_width / 2;
}

.peek-desktop-content {
    flex-grow: 1;
    overflow-y: auto;
}
