<div class="config-page">
  <div class="page-card">
    <div class="card-header">
      <div class="header-title">App Info</div>
    </div>
    <div class="card-row">
      <div class="value">Name</div>
      <div class="end-value">Peek Office App</div>
    </div>
    <div class="card-row">
      <div class="value">Version</div>
      <div class="end-value">v0.0.0</div>
    </div>
  </div>
  <div class="page-card">
    <div class="card-header">
      <div class="header-title">Config Options</div>
    </div>
    <a class="card-row" [routerLink]="[link.resourcePath]" *ngFor="let link of configLinks">
      <div class="value">
        {{link.title}} Plugin
      </div>
      <div class="end-value">
        <i nz-icon nzType="right" nzTheme="outline"></i>
      </div>
    </a>
  </div>
</div>
