<div class="config-page">
    <div class="page-card">
        <div class="card-header">
            <div class="header-title">App Info</div>
        </div>
        <div class="card-row">
            <div class="value">Name</div>
            <div class="end-value">Peek Office App</div>
        </div>
        <div class="card-row">
            <div class="value">Version</div>
            <div class="end-value">v0.0.0</div>
        </div>
    </div>
    <div class="page-card">
        <div class="card-header">
            <div class="header-title">Config Options</div>
        </div>
        <a
            *ngFor="let link of configLinks"
            [routerLink]="[link.resourcePath]"
            class="card-row"
        >
            <div class="value">{{link.title}} Plugin</div>
            <div class="end-value">
                <i nz-icon nzTheme="outline" nzType="right"></i>
            </div>
        </a>
    </div>
</div>
