<div *ngIf="isEnabled$ | async" class="peek-ds-main-header">
    <div class="sidebar-top">
        <div class="peek-ds-mh-title">
            {{ title$ | async }}
        </div>

        <div>
            <button
                (click)="navBackService.navBack()"
                [class.button-disabled]="!isBackButtonEnabled()"
                [disabled]="!isBackButtonEnabled()"
                class="sidebar-button"
                nz-tooltip
                nzTooltipPlacement="right"
                nzTooltipTitle="Back to Last Page"
            >
                <i nz-icon nzTheme="outline" nzType="left"></i>
            </button>
        </div>

        <div>
            <button
                (click)="showSearchClicked()"
                class="sidebar-button"
                nz-tooltip
                nzTooltipPlacement="right"
                nzTooltipTitle="Search for Anything"
            >
                <i nz-icon nzTheme="outline" nzType="search"></i>
            </button>

            <core-search-component
                [(showSearch)]="showSearch"
            ></core-search-component>
        </div>

        <div *ngFor="let link of headerService.links$ | async">
            <button [routerLink]="[link.resourcePath]" class="sidebar-button">
                <nz-badge [nzCount]="link.badgeCount">
                    <i
                        class="count"
                        nz-icon
                        nzTheme="outline"
                        nzType="{{ link.antIcon || 'question-circle' }}"
                    ></i>
                </nz-badge>
            </button>
        </div>

        <div
            *ngIf="!homeLinks.length && !(headerService.links$ | async)?.length"
            class="title h3"
        >
            No Plugins Installed
        </div>

        <div *ngFor="let link of homeLinks">
            <button
                [nzTooltipTitle]="link.title"
                [routerLink]="[link.resourcePath]"
                class="sidebar-button"
                nz-tooltip
                nzTooltipPlacement="right"
            >
                <img [src]="[link.pluginIconPath]" class="sidebar-button-img" />
            </button>
        </div>
    </div>

    <div class="sidebar-bottom">
        <div>
            <button
                [routerLink]="['/peek_core_user']"
                class="sidebar-button"
                nz-tooltip
                nzTooltipPlacement="right"
                nzTooltipTitle="Login / Logout"
            >
                <i nz-icon nzTheme="outline" nzType="user"></i>
            </button>
        </div>

        <div>
            <button
                [routerLink]="['/config']"
                class="sidebar-button"
                nz-tooltip
                nzTooltipPlacement="right"
                nzTooltipTitle="Configuration"
            >
                <i nz-icon nzTheme="outline" nzType="setting"></i>
            </button>
        </div>

        <div
            [nzTooltipTitle]="poweredByTemplate"
            [routerLink]="['/']"
            nz-tooltip
            [nzTooltipMouseEnterDelay]="1.0"
            nzTooltipPlacement="rightTop"
        >
            <img class="sidebar-powered-by" src="/assets/home-center.png" />
        </div>
    </div>
</div>

<ng-template #poweredByTemplate>
    <img class="powered-by-tooltip" src="/assets/home-center.png" />
</ng-template>
