@import '~@synerty/peek-theme/scss/_variables.web';

.peek-desktop {
    height: 100%;
}

.peek-desktop-sidebar {
    height: 100%;
    width: $general_width_2;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

    background-image: url('/assets/sidebar_background.png');

}

.peek-ds-main-header {
    top: 0;
    width: $general_width_2;
    height: $title_bar_height + $title_bar_height;
    position: fixed;
    display: flex;
    overflow: hidden;
    background-color: $white;
    z-index: 1;
}

.peek-ds-mh-title {
    top: 0;
    width: $general_width_2;
    line-height: $title_bar_height;
    text-align: center;
    padding-top: $general_padding_1;
    font-size: $general_font_size_3;
    color: $black;
}

.peek-ds-mh-buttons {
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: $general_font_size_3;
    border-radius: 0;
    background-color: $brand;
    height: $title_bar_height;
    margin-right: 0;
    display: inline-block;
    position: relative;
    min-width: $title_bar_button_min_width;
}

.peek-ds-main-icons {
    margin-top: $title_bar_height + $title_bar_height;
    margin-bottom: $title_bar_height;
    padding: $general_padding_1;
    overflow-y: auto;
}

.peek-ds-footer {
    position: fixed;
    bottom: 0;
    width: $general_width_2;
    height: $title_bar_height;
    background-color: #fff;
}

.peek-desktop-content {
    height: 100%;
    margin-left: $general_width_2;
    overflow-y: scroll;
}

.peek-dc-home-background {
    height: 100%;
    background-image: url('/assets/home-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black;
}

.peek-dc-home-logo {
    height: 100%;
    display: block;
    margin: auto;
}
