@import '~@synerty/peek-theme/scss/_variables.web';

$general_margin_1: 1 !default;
$general_font_size_5: 1 !default;
$general_margin_3: 1 !default;
$general_padding_3: 1 !default;

.peek-desktop {
    height: 100%;
}

.peek-desktop-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

    background-image: url('/assets/sidebar_background.png');

}

.peek-ds-main-title {
    top: 0;
    width: 250px;
    height: 60px;
}

.peek-ds-main-icons {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    overflow-y: auto;
}

.peek-ds-footer {
    position: fixed;
    bottom: 0;
    width: 250px;
    height: 60px;
    background-color: #fff;
}

.peek-desktop-content {
    height: 100%;
    margin-left: 250px;
    overflow-y: scroll;
}

.peek-dc-home-background {
    height: 100%;
    background-image: url('/assets/home-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
}

.peek-dc-home-logo {
    height: 100%;
    display: block;
    margin: auto;
}
