@import '~@synerty/peek-theme/scss/_variables.web';


.peek-dc-home-background {
    height: 100%;
    background-image: url('/assets/home-background.png');
    background-size: cover;
    background-color: $black;
}

.peek-dc-home-logo {
    display: block;
    margin: auto;
}
