<div class="peek-config-screen-background"></div>
<div class="peek-config-screen">
    <div class="container-fluid">
        <div class="row">
            <div class="config-screen-message">
                Peek Native Mobile App v###PEEKVER###
            </div>
        </div>
        <div class="row" *ngIf="!appDetails.length">
            <div class="config-screen-message">
                No Plugin Configs Availible
            </div>
        </div>
        <div class="row"
             *ngFor="let app of appDetails">
            <button class="btn" [routerLink]="[item.resourcePath]">
                {{item.title}}
            </button>
        </div>
    </div>
</div>
