$header-height: 56px;
$icon-size: 20px;

$semi-bold: 500;
$bold: 600;

$background-color: #fafafa;
$container-background-color: #fff;

$border-color: rgba(0,0,0,.08);

$font-color-primary: rgba(0,0,0,.87);
$font-color-secondary: rgba(0,0,0,.54);

$disabled-color: rgba(0,0,0,.3);
$disabled-background-color: #eee;

$primary-color: #26abe2;
$primary-color-translucent: rgba(38, 171, 226, .1);
$red-color: #f84d4f;

$box-shadow: 0 10px 30px -6px rgba(0, 0, 0, 0.08);
$red-box-shadow: 0 10px 30px -6px #f84d4f;
